services:
  nuxt-frontend:
    build:
      context: ./frontend
      args:
        - NUXT_PUBLIC_API_URL=http://135.181.78.114:9002
    ports:
      - "9001:80"
    restart: always
    container_name: rehpublic-frontend

  backend:
    build:
      context: ./backend
    ports:
      - "9002:8000"
    restart: always
    container_name: rehpublic-backend

  db:
   image: postgres:15-alpine
   restart: always
   environment:
      POSTGRES_PASSWORD: hamelnhack2025
      POSTGRES_DB: rehpublic
      POSTGRES_USER: rehpublic
   ports:
      - "5432:5432"
   volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
