services:
  nuxt-frontend:
    build:
      context: ./frontend
    ports:
      - "9001:80"
    restart: always
    container_name: rehpublic-frontend
    environment:
      - NUXT_API_URL=http://135.181.78.114:9002

  backend:
    build:
      context: ./backend
    ports:
      - "9002:8000"
    restart: always
    container_name: rehpublic-backend