services:
  nuxt-frontend:
    build:
      context: ./frontend
    ports:
      - "9001:80"
    restart: always
    container_name: rehpublic-frontend

  backend:
    build:
      context: ./backend
    ports:
      - "9002:8000"
    restart: always
    container_name: rehpublic-backend